In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [27]:
df.describe()

       petal_length  petal_width  sepal_length  sepal_width    enc_iris
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667    1.000000
std        0.828066     0.433594      1.764420     0.763161    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [12]:
#List_Of_Categories_In_Column=list(df['Categorical Column Name'].value_counts().index)
specie = df["species_type"].value_counts()
specie

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species_type, dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
iris = LabelEncoder()

In [6]:
df["enc_iris"] = iris.fit_transform(df["species_type"])

In [7]:
df

,petal_length,petal_width,sepal_length,sepal_width,species_type,enc_iris
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [14]:
X = df.drop(["species_type", "enc_iris"], axis="columns")

In [26]:
X.head(30)

    petal_length  petal_width  sepal_length  sepal_width
0            5.1          3.5           1.4          0.2
1            4.9          3.0           1.4          0.2
2            4.7          3.2           1.3          0.2
3            4.6          3.1           1.5          0.2
4            5.0          3.6           1.4          0.2
5            5.4          3.9           1.7          0.4
6            4.6          3.4           1.4          0.3
7            5.0          3.4           1.5          0.2
8            4.4          2.9           1.4          0.2
9            4.9          3.1           1.5          0.1
10           5.4          3.7           1.5          0.2
11           4.8          3.4           1.6          0.2
12           4.8          3.0           1.4          0.1
13           4.3          3.0           1.1          0.1
14           5.8          4.0           1.2          0.2
15           5.7          4.4           1.5          0.4
16           5.4          3.9           1.3          0.4
17           5.1          3.5           1.4          0.3
18           5.7          3.8           1.7          0.3
19           5.1          3.8           1.5          0.3
20           5.4          3.4           1.7          0.2
21           5.1          3.7           1.5          0.4
22           4.6          3.6           1.0          0.2
23           5.1          3.3           1.7          0.5
24           4.8          3.4           1.9          0.2
25           5.0          3.0           1.6          0.2
26           5.0          3.4           1.6          0.4
27           5.2          3.5           1.5          0.2
28           5.2          3.4           1.4          0.2
29           4.7          3.2           1.6          0.2

In [16]:
y = df.enc_iris# or y = df["enc_iris"]

In [19]:
y.value_counts()

0    50
1    50
2    50
Name: enc_iris, dtype: int64

# train, test, split

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

# Linear Regression

In [23]:
from sklearn.linear_model import LinearRegression
linear = LinearRegression()

In [24]:
linear.fit(X_train, y_train)

LinearRegression()

In [28]:
linear.predict([[4.5, 3.5, 4.0, 1.5]])

/home/wanyoike/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1.38774064])